#!/bin/bash

set -e pipefail

script_dir="{{ .chezmoi.sourceDir }}"

function banner {
  if [ "${TERM}" = "dumb" ]; then
    echo ""
    echo "######## $1 ########"
    echo ""
  else
    echo ""
    echo "$(tput setaf 5)######## $1 ########$(tput sgr0)"
    echo ""
  fi
}

banner "macOS package install"

# Install Homebrew
if [ ! "$(command -v brew)" ]; then
  echo "Installing Homebrew"
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  export PATH="/usr/local/bin:/opt/homebrew/bin:$PATH"
fi

# Install packages needed
export PATH="/usr/local/bin:/opt/homebrew/bin:$PATH"
if [ ! "$(command -v mas)" ]; then
  brew install mas
fi

cd "${script_dir}" || exit

# Brewfile hashes (To rerun this script when Brewfile changes):

# Supress error message when running `brew bundle`
# The error message is caused by packages that maybe installed by other means
brew bundle --no-lock --file=/dev/stdin <<EOF
  {{ template "Brewfile.tmpl" . }}
EOF
