#!/bin/bash

set -e pipefail

script_dir="{{ .chezmoi.sourceDir }}"

function banner {
  if [ "${TERM}" = "dumb" ]; then
    echo ""
    echo "######## $1 ########"
    echo ""
  else
    echo ""
    echo "$(tput setaf 5)######## $1 ########$(tput sgr0)"
    echo ""
  fi
}

# Install Homebrew
if [ ! "$(command -v brew)" ]; then
  echo "Installing Homebrew"
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  export PATH="/usr/local/bin:/opt/homebrew/bin:$PATH"
fi

{{ if eq .chezmoi.os "linux" }}
test -d ~/.linuxbrew && eval "$(~/.linuxbrew/bin/brew shellenv)"
test -d /home/linuxbrew/.linuxbrew && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
echo "eval \"\$($(brew --prefix)/bin/brew shellenv)\"" >> ~/.zshrc
{{ end }}


{{ if eq .chezmoi.os "darwin" }}
# Install macOS packages needed
export PATH="/usr/local/bin:/opt/homebrew/bin:$PATH"
if [ ! "$(command -v mas)" ]; then
  brew install mas
fi
{{ end }}

cd "${script_dir}" || exit

banner "macOS package install"
# The error message is caused by packages that maybe installed by other means
brew bundle --no-lock --file=/dev/stdin <<EOF
  {{ template "Brewfile.tmpl" . }}
EOF
