# tap "homebrew/bundle"
# tap "homebrew/cask-fonts"
brew 'atuin'
brew 'bat'
brew 'tmuxinator'
brew 'starship'
brew 'urlview'
brew 'tldr'
brew 'fpp'
brew 'fzf'
brew 'ripgrep'
brew 'zsh'
brew 'neovim'
brew 'autojump'
brew 'tmux'
brew 'jq'
brew 'curl'
brew 'git'
brew 'git-town'
brew 'git-delta'

brew 'unzip'
brew 'progress'
brew 'btop'
brew 'redis'
brew 'gh'
brew 'fastfetch'
brew 'asdf'
brew 'chezmoi'
brew 'eza'
brew 'lazygit'
brew 'opencode'
brew 'cookcli'

# Only on macOS

{{ if eq .chezmoi.os "darwin" }}
brew 'mas' # Mac App Store manager
brew 'unixodbc'
brew 'libtool'
brew 'libxslt'
brew 'readline'
brew 'libyaml'
brew 'openssl'
brew 'autoconf'
brew 'automake'
brew 'gpg'
brew 'coreutils'
brew 'minikube'
brew 'docker-compose'
brew 'docker'
brew 'reattach-to-user-namespace'
brew 'dockutil'
brew 'smudge/smudge/nightlight'
brew 'cooklang/tap/cookcli'
cask 'todoist-app'
cask 'ghostty'
cask 'raycast'
cask 'rectangle'
cask 'obsidian'
cask 'spotify'
cask 'visual-studio-code'
cask 'visual-studio-code@insiders'
cask 'font-fira-code'
cask 'bitwarden'
cask 'keymapp'
cask 'hiddenbar'
cask 'google-chrome'
{{ end }}
